NET "F_SPI_MISO" LOC = "AD23" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
NET "F_SPI_MOSI" LOC = "AF23" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
NET "F_SPI_SCK" LOC = "AE24" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = "FAST";
NET "F_SPI_CS_B" LOC = "AF3" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
NET "F_SPI_DQ2_W_B" LOC = "V18" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
NET "F_SPI_DQ3_RESET_B" LOC = "W19" | IOSTANDARD = LVCMOS33 | DRIVE = 12;

NET "MON<0>" LOC = "AB11" | IOSTANDARD = LVCMOS33 | DRIVE = 4;
NET "MON<1>" LOC = "Y11" | IOSTANDARD = LVCMOS33 | DRIVE = 4;
NET "MON<2>" LOC = "AA11" | IOSTANDARD = LVCMOS33 | DRIVE = 4;
NET "MON<3>" LOC = "AA9" | IOSTANDARD = LVCMOS33 | DRIVE = 4;
NET "MON<4>" LOC = "AB9" | IOSTANDARD = LVCMOS33 | DRIVE = 4;
NET "PCIE_250M_P" TNM_NET = "PCIE_CLK";
TIMESPEC "TS_PCIE_CLK" = PERIOD "PCIE_CLK" 10 ns HIGH 50 %;
NET "*/pcie/gt_refclk_out[0]" TNM_NET = "GT_REFCLK_OUT";
TIMESPEC "TS_GT_OUT" = PERIOD "GT_REFCLK_OUT" 10 ns HIGH 50 %;


NET "PCIE_250M_N"                   LOC = "A10";
NET "PCIE_250M_P"                   LOC = "B10";
NET "PCIE_PERST_B_LS"               LOC = "AF15" | PULLUP | NODELAY;
NET "PCIE_RX0_N"                    LOC = "C7";
NET "PCIE_RX0_P"                    LOC = "D7";
NET "PCIE_TX0_N"                    LOC = "A6";
NET "PCIE_TX0_P"                    LOC = "B6";